# ----------------------------------------------------------------------------
#     _____
#    /     \
#   /____   \____
#  / \===\   \==/
# /___\===\___\/  AVNET Design Resource Center
#      \======/         www.em.avnet.com/drc
#       \====/
# ----------------------------------------------------------------------------
#
#  Created With Avnet UCF Generator V0.4.0
#     Date: Saturday, June 30, 2012
#     Time: 12:18:55 AM
#
#  This design is the property of Avnet.  Publication of this
#  design is not authorized without written consent from Avnet.
#
#  Please direct any questions to:
#     Avnet Centralized Technical Support
#     Centralized-Support@avnet.com
#     1-800-422-9023
#
#  Disclaimer:
#     Avnet, Inc. makes no warranty for the use of this code or design.
#     This code is provided  "As Is". Avnet, Inc assumes no responsibility for
#     any errors, which may appear in this code, nor does it make a commitment
#     to update the information contained herein. Avnet, Inc specifically
#     disclaims any implied warranties of fitness for a particular purpose.
#                      Copyright(c) 2012 Avnet, Inc.
#                              All rights reserved.
#
# ----------------------------------------------------------------------------
#
#  Notes:
#
#  10 August 2012
#     IO standards based upon Bank 34 and Bank 35 Vcco supply options of 1.8V,
#     2.5V, or 3.3V are possible based upon the Vadj jumper (J18) settings.
#     By default, Vadj is expected to be set to 1.8V but if a different
#     voltage is used for a particular design, then the corresponding IO
#     standard within this UCF should also be updated to reflect the actual
#     Vadj jumper selection.
#
#  09 September 2012
#     Net names are not allowed to contain hyphen characters '-' since this
#     is not a legal VHDL87 or Verilog character within an identifier.
#     HDL net names are adjusted to contain no hyphen characters '-' but
#     rather use underscore '_' characters.  Comment net name with the hyphen
#     characters will remain in place since these are intended to match the
#     schematic net names in order to better enable schematic search.

# ----------------------------------------------------------------------------


NET CLK          LOC = Y9   | IOSTANDARD=LVCMOS33;  # "GCLK"

NET vga_data_w[0]         LOC = Y21  | IOSTANDARD=LVCMOS33;  # "VGA-B1"
NET vga_data_w[1]         LOC = Y20  | IOSTANDARD=LVCMOS33;  # "VGA-B2"
NET vga_data_w[2]         LOC = AB20 | IOSTANDARD=LVCMOS33;  # "VGA-B3"
NET vga_data_w[3]         LOC = AB19 | IOSTANDARD=LVCMOS33;  # "VGA-B4"
NET vga_data_w[4]         LOC = AB22 | IOSTANDARD=LVCMOS33;  # "VGA-G1"
NET vga_data_w[5]         LOC = AA22 | IOSTANDARD=LVCMOS33;  # "VGA-G2"
NET vga_data_w[6]         LOC = AB21 | IOSTANDARD=LVCMOS33;  # "VGA-G3"
NET vga_data_w[7]         LOC = AA21 | IOSTANDARD=LVCMOS33;  # "VGA-G4"
NET vga_h_out_r           LOC = AA19 | IOSTANDARD=LVCMOS33;  # "VGA-HS"
NET vga_data_w[8]         LOC = V20  | IOSTANDARD=LVCMOS33;  # "VGA-R1"
NET vga_data_w[9]         LOC = U20  | IOSTANDARD=LVCMOS33;  # "VGA-R2"
NET vga_data_w[10]        LOC = V19  | IOSTANDARD=LVCMOS33;  # "VGA-R3"
NET vga_data_w[11]        LOC = V18  | IOSTANDARD=LVCMOS33;  # "VGA-R4"
NET vga_v_out_r        	  LOC = Y19  | IOSTANDARD=LVCMOS33;  # "VGA-VS"

NET BTN_U          		  LOC = T18  | IOSTANDARD=LVCMOS18;  # "UP"
NET BTN_D                 LOC = R16  | IOSTANDARD=LVCMOS18;  # "DOWN"
NET BTN_L          		  LOC = N15  | IOSTANDARD=LVCMOS18;  # "LEFT"
NET BTN_R                 LOC = R18  | IOSTANDARD=LVCMOS18;  # "RIGHT"

NET pause           LOC = F22  | IOSTANDARD=LVCMOS18;  # "SW0"
NET speed_ctrl[0]           LOC = G22  | IOSTANDARD=LVCMOS18;  # "SW1"
NET speed_ctrl[1]           LOC = H22  | IOSTANDARD=LVCMOS18;  # "SW2"
NET snake_color_ctrl           LOC = H17  | IOSTANDARD=LVCMOS18;  # "SW6"
NET boot           LOC = M15  | IOSTANDARD=LVCMOS18;  # "SW7"

# Bank 34, Vcco = Vadj
NET RESET          		  LOC = P16  | IOSTANDARD=LVCMOS18;  # "BTNC"

